header {
    .logo{
        img{
            width: 75px;
            margin-left: 45px;            
        }
        &:hover{
            cursor: pointer;
        }
    }
    .search,
    .navigation,
    .tools {
        padding-top:45px;
    }
}
@media (max-width:768px){
    header {
        .logo{
            img{
                width: 55px;
                margin-left: 5px;
            }
        }
        .products-search{
            width: 200px;
            font-size: 12px;
        }
        .search,
        .tools{
            padding-top: 20px;
        }
        .navigation{
            padding-top: 30px;
        }
    }

}
@media (max-width:450px){
    header {
        .logo{
            img{
                
                width: 35px;
                margin-left: -2.5px;
            }
        }
        .products-search{
            margin-left: -15px;
            width: 220px;
            font-size: 12px;
        }
     .search {
         margin-top: 50px;
     }
       
        .navigation{
            padding-top: 30px;
            margin-left: 10px;
        }
        a{
            margin-left: 12px;
            margin-top:15px;
        }
    }

}