<div class="admin-page">
    <p-card header="Panel de control" subheader="Aquí podrás ver un resumen del estado de tu tienda">
        <div class="p-grid">
            <div class="p-col-3">
                <p-card styleClass="d-orders">
                    <div routerLink="/orders" class="d-item">
                        <div>
                            <i class="pi pi-shopping-cart"></i><br>
                            <span class="name">Pedidos</span>
                        </div>
                            <span class="number">{{ statistics[0] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card styleClass="d-products">
                    <div routerLink="/products" class="d-item">
                        <div>
                            <i class="pi pi-briefcase"></i><br>
                            <span class="name">Productos</span>
                        </div>
                            <span class="number">{{ statistics[1] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card styleClass="d-users">
                    <div routerLink="/users" class="d-item">
                        <div>
                            <i class="pi pi-users"></i><br>
                            <span class="name">Usuarios</span>
                        </div>
                            <span class="number">{{ statistics[2] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="p-col-3">
                <p-card styleClass="d-totalsales">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-euro"></i><br>
                            <span class="name">Ventas</span>
                        </div>
                            <span class="number">{{ statistics[3] | currency: 'EURpad'}}</span>
                    </div>
                </p-card>
            </div>
           
        </div>
    </p-card>
</div>
