<header>
    <div class="p-grid">
        <div class="p-col-3 p-md-3">
            <div class="logo">
                <img routerLink="/" src="assets/images/online-store.png" alt="logo">
            </div>
        </div>
        <div class="p-col-6 search">
            <products-search></products-search>
        </div>     
        <div class="p-col-3 tools p-pl-2">
            <a href="https://mcampos23.github.io/admin" target=_blank>
                <i class="pi pi-user p-text-secondary p-mr-3" style="font-size: 1.6em;"></i>
            </a>
        
                <orders-cart-orders></orders-cart-orders>
            
        </div>

        <div class="p-col-12 p-md-offset-1 navigation">
            <ngshop-nav></ngshop-nav>
        </div>
        
    </div>
</header>
