<header>
    <div class="p-grid">
        <div class="p-col-6 p-md-3">
            <div class="logo">
                <img src="assets/images/online-store.png" alt="logo">
            </div>
        </div>
        <div class="p-d-none p-d-md-block search">
            <products-search></products-search>
        </div>
        <div class="p-md-3 p-offset-1 navigation">
            <ngshop-nav></ngshop-nav>
        </div>
        <div class="p-md-1 tools p-ml-5">
            <i class="pi pi-user p-text-secondary p-mr-3" style="font-size: 1.6em;"></i>
            <orders-cart-orders></orders-cart-orders>
        </div>
        
    </div>
</header>
